.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

.body{
	display: inline;
}

header{
	margin-left: 50px;
}

.footer {
	float: right;
	border-top: thin solid #000000;
	width: 720px;
	text-align: center;
}

nav {
	float: left;
    height: 840px;
    border-right: thin solid #000000;
    padding-right: 25px;
    margin-right: 25px;
}
ul {
	list-style: none
}