.container {

  margin: 0 auto;  
  width: 720px;
  padding: 20px;

}

nav{
	float:left;
	height:840px;
	padding-right: 30px;
	border-right: 1px solid black;
}

.content{
	margin-left:170px;
}

header{
	padding-left: 20px;
}
body{
	display:inline;
}

.footer{
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid black;
}